@{ Layout = null;}
@using ChineseCulture.Model;

@model ArticlePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")


</head>
<body style="background-image:url(/images/body2.png)">
    @{Html.RenderAction("EventPageHeader", "Partinal");}
    @{Html.RenderAction("EventHomeMenu", "Partinal");}
    <div class="swiper-container swiper8">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            <div class="swiper-slide"><img src="/images/emp-14.png"></div>
        </div>
        <div class="swiper-pagination swiper-pagination8"></div>
    </div>
    <section class="main c-con clear" style="background-color:#FFF;">
        <section class="main c-con clear">
            <a href="javascript:;" class="baoming-banner"><img src="/images/emp-15.png" alt=" "></a>
            <div class="baoming-tab clear">
                <p class="on">个&nbsp;&nbsp;&nbsp;&nbsp;人</p><p>学&nbsp;&nbsp;&nbsp;&nbsp;校</p>
            </div>
            <section class="school-form">
                <p>学校名称</p>
                <p><input type='text' name=" "></p>
                <p>联系电话</p>
                <p><input type='text' name=" "></p>
                <p><input type="submit" value="修改"></p>
            </section>
            <section class="scholl-user">
                <header class="su-header"><a href="javascript:;">添加</a>参赛选手信息</header>
                <div class="su-list">
                    <ul>
                        <li class="clear">
                            <a href="#" class="sul-img"><img src="/images/emp-11.png" alt=" "></a>
                            <div class="sul-about">
                                <p><a href="#">李林</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span>2011年05月04日</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>5年级</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>参赛类别&nbsp;&nbsp;文学</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>参赛作品诗歌《诗歌》</span></p>
                                <p><span>联系电话：12345678963</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>邮 箱：356148917@qq.com</span></p>
                            </div>
                            <div class="sul-btn"><a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></div>
                        </li>
                        <li class="clear">
                            <a href="#" class="sul-img"><img src="/images/emp-11.png" alt=" "></a>
                            <div class="sul-about">
                                <p><a href="#">李林</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span>2011年05月04日</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>5年级</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>参赛类别&nbsp;&nbsp;文学</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>参赛作品诗歌《诗歌》</span></p>
                                <p><span>联系电话：12345678963</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>邮 箱：356148917@qq.com</span></p>
                            </div>
                            <div class="sul-btn"><a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除</a></div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="baoming-cen">
                <section class="bm-form" style="display:block;">
                    <ul>
                        <li>
                            <h3>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</h3>
                            <div class="bm-item">
                                <p class="bm-item-img"><img src="/images/emp-11.png" alt=""></p>
                            </div>
                        </li>
                        <li>
                            <h3>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</h3>
                            <div class="bm-item">
                                <p class="bm-item-user"><input type="text" name=" "></p>
                                <p class="bm-item-radio"><input type="radio" name="sex" value="1" checked></p>
                                <p class="bm-item-txt">男</p>
                                <p class="bm-item-radio"><input type="radio" name="sex" value="1"></p>
                                <p class="bm-item-txt">女</p>

                            </div>
                        </li>
                        <li>
                            <h3>出生日期</h3>
                            <div class="bm-item">
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">年</p>
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">月</p>
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">日</p>
                            </div>
                        </li>
                        <li>
                            <h3>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</h3>
                            <div class="bm-item">
                                <div class="bm-item-select">
                                    <input type="hidden" value="0">
                                    <h3>年级<span>0</span></h3>
                                    <div class="bm-item-sellist">
                                        <p>年级<span>0</span></p>
                                        <p>一年级<span>1</span></p>
                                        <p>二年级<span>2</span></p>
                                        <p>三年级<span>3</span></p>
                                        <p>四年级<span>4</span></p>
                                        <p>五年级<span>5</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3>联系电话</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>所属分类</h3>
                            <div class="bm-item">
                                <div class="bm-item-select">
                                    <input type="hidden" value="0">
                                    <h3>参赛分类<span>0</span></h3>
                                    <div class="bm-item-sellist">
                                        <p>参赛分类<span>0</span></p>
                                        <p>分类名称A<span>1</span></p>
                                        <p>分类名称B<span>2</span></p>
                                        <p>分类名称C<span>3</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3>作品序号</h3>
                            <div class="bm-item">
                                <div class="bm-item-select">
                                    <input type="hidden" value="0">
                                    <h3>作品序号<span>0</span></h3>
                                    <div class="bm-item-sellist">
                                        <p>作品序号<span>0</span></p>
                                        <p>作品序号A<span>1</span></p>
                                        <p>作品序号B<span>2</span></p>
                                        <p>作品序号C<span>3</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3>爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>所在学校</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>参赛作品</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>参赛类别</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>参赛经历</h3>
                            <div class="bm-item">
                                <p class="bm-item-textarea"><textarea name=" "></textarea></p>
                            </div>
                        </li>
                        <li>
                            <h3>所获荣誉</h3>
                            <div class="bm-item">
                                <p class="bm-item-textarea"><textarea name=" "></textarea></p>
                            </div>
                        </li>
                        <li>
                            <h3>活动实践</h3>
                            <div class="bm-item">
                                <p class="bm-item-textarea"><textarea name=" "></textarea></p>
                            </div>
                        </li>
                        <li>
                            <h3>梦想职业</h3>
                            <div class="bm-item">
                                <p class="bm-item-textarea"><textarea name=" "></textarea></p>
                            </div>
                        </li>
                        <li>
                            <p><input type="submit" value="保存"></p>
                            <p><input type="reset" value="取消"></p>
                        </li>
                    </ul>
                </section>
                <section class="bm-form">
                    <ul>
                        <li>
                            <h3>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</h3>
                            <div class="bm-item">
                                <p class="bm-item-img"><img src="/images/emp-11.png" alt=""></p>
                            </div>
                        </li>
                        <li>
                            <h3>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</h3>
                            <div class="bm-item">
                                <p class="bm-item-user"><input type="text" name=" "></p>
                                <p class="bm-item-radio"><input type="radio" name="sex" value="1" checked></p>
                                <p class="bm-item-txt">男</p>
                                <p class="bm-item-radio"><input type="radio" name="sex" value="1"></p>
                                <p class="bm-item-txt">女</p>

                            </div>
                        </li>
                        <li>
                            <h3>出生日期</h3>
                            <div class="bm-item">
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">年</p>
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">月</p>
                                <p class="bm-item-date"><input type="text" name=" "></p>
                                <p class="bm-item-txt">日</p>
                            </div>
                        </li>
                        <li>
                            <h3>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</h3>
                            <div class="bm-item">
                                <div class="bm-item-select">
                                    <input type="hidden" value="0">
                                    <h3>年级<span>0</span></h3>
                                    <div class="bm-item-sellist">
                                        <p>年级<span>0</span></p>
                                        <p>一年级<span>1</span></p>
                                        <p>二年级<span>2</span></p>
                                        <p>三年级<span>3</span></p>
                                        <p>四年级<span>4</span></p>
                                        <p>五年级<span>5</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3>联系电话</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <h3>所属分类</h3>
                            <div class="bm-item">
                                <div class="bm-item-select">
                                    <input type="hidden" value="0">
                                    <h3>参赛分类<span>0</span></h3>
                                    <div class="bm-item-sellist">
                                        <p>参赛分类<span>0</span></p>
                                        <p>分类名称A<span>1</span></p>
                                        <p>分类名称B<span>2</span></p>
                                        <p>分类名称C<span>3</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3>参赛作品</h3>
                            <div class="bm-item">
                                <p class="bm-item-input"><input type="text" name=" "></p>
                            </div>
                        </li>
                        <li>
                            <p><input type="submit" value="保存"></p>
                            <p><input type="reset" value="取消"></p>
                        </li>
                    </ul>
                </section>
            </section>
            <!--<section class="cols2">
        <h3 class="bmfw"><p>便民服务</p></h3>
        <div class="cols2-txtlist">
            <ul>
                <li><a href="#"><p>全国校园之星原创文艺作品争霸赛，在国内设8大赛区和南北美洲国际赛区与亚欧非洋国际赛区。决赛即将开始，欢迎有实力的企业独家冠名。15938726942</p><h3>寻人启事</h3></a></li>
                <li><a href="#"><p>河南慧涓文化传播有限公司，因业务发展需要诚聘各省市大学校园代理。要求大一或大三、研究生均可，只要业余时间比较多；主要负责赛事招商、组织参赛 </p><h3>公益公约</h3></a></li>
                <li><a href="#"><p>全国校园之星原创文艺作品争霸赛总决赛与颁奖文艺晚会，将于6月底至7月中旬拉开帷幕，敬请关注、欢迎参加！服务电话：0371-65339250</p><h3>赛事宣传</h3></a></li>
                <li><a href="#"><p>校园之星文艺杂志，将于首届全国校园之星文艺作品争霸赛决赛与颁奖文艺晚会后开始编辑并面向各赛区获奖选手与工作人员发行。敬请大家关注</p><h3>媒体社团</h3></a></li>
                <li><a href="#"><p>因赛事和中国校园文化网第二版上线需要，特向全国各地诚招城市合伙人。不需要你出技术和平台，只要有办公场地和员工即可。欢迎大家踊跃报名合作</p><h3>紧急求助</h3></a></li>
            </ul>
        </div>
    </section>
    <section class="cols2">
        <h3 class="cfzx"><p>财富之星</p></h3>
        <div class="cols2-imglist clear">
            <ul>
                <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
            </ul>
        </div>
    </section>-->
            <section class="cols2">
                <h3 class="bmfw"><p>专家评委</p></h3>
                <div class="cols2-imglist clear">
                    <ul>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    </ul>
                </div>
            </section>
            <section class="cols2">
                <h3 class="sjgly"><p>参赛单位</p></h3>
                <div class="cols2-imglist clear">
                    <ul>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                        <li><a href="#"><p><img src="/images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    </ul>
                </div>
            </section>
            <section class="dasai-detail clear"></section>
        </section>
    <section class=" c-con clear" style="background-color:#FFF;">
        <section class="cyfh-blank"></section>
        <section class="links">
            <h3><p>友情链接</p></h3>
            @{Html.RenderAction("FriendLink", "Partinal");}
        </section>
    </section>
    @{Html.RenderAction("Footer", "Partinal");}
</body>
</html>