
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
</head>
<body style="background-image:url(images/body2.png)">
    <header class="header c-con">
        <div class="hd-con">
            <a href="#" class="logo-saishi"><img src="/images/logo-saishi.png" alt=" "></a>
            <div class="city">
                城市切换【<a href="javascript:;">郑州</a>】
            </div>
            <div class="search-saishi clear">
                <p>搜&nbsp;&nbsp;索</p>
                <p><input type="text" placeholder="大家正在搜：东北虎胖成气球"></p>
                <p><input type="submit" value="&#xe66c;"></p>
            </div>
            <div class="sitedate" id="sitedate"><span id="date">
            <script type="text/javascript" src="js/date.js"></script></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">会员登录</a>&nbsp;&nbsp;&nbsp;&nbsp;（<a href="#">注册</a>）</div>
        </div>
    </header>
    <nav class="nav">
        <div class="nav-list c-con clear">
            <ul>
                <li><a href="./index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="#">会员登录</a></li>
                <li><a href="#">赛事简介</a></li>
                <li><a href="#">选手报名</a></li>
                <li><a href="#">赛区分布</a></li>
                <li><a href="#">学术交流</a></li>
                <li><a href="#">历届大赛</a></li>
                <li><a href="#">赛事管理</a></li>
                <li><a href="#">专家评审</a></li>
                <li><a href="#">支持媒体</a></li>
                <li><a href="#">冠名单位</a></li>
            </ul>
        </div>
    </nav>
    <section class="main c-con clear" style="background-color:#FFF; padding-top:10px;">
        <section class="dasai-location">
            <a href="#">中国校园文化网</a>&nbsp;>&nbsp;<a href="#">赛事专版</a>&nbsp;>&nbsp;<a href="#">文学教程</a>&nbsp;>&nbsp;散文
        </section>
        <section class="dasai-detail clear">
            <section class="dsd-left">
                <header class="dsd-l-header">美丽中国&nbsp;&nbsp;<span>文清/ 著</span></header>
                <div class="dsd-l-canshu">
                    <a href="#"><i class="iconfont">&#xe6bd;</i>&nbsp;分享</a>
                    <a href="#"><i class="iconfont">&#xe6c1;</i>&nbsp;评论</a>
                    <a href="#"><i class="iconfont">&#xe740;</i>&nbsp;收藏</a>2018-04-10 14:53
                </div>
                <div class="dsd-l-author">
                    <h3>作家 档案</h3>
                    <p>文清:中国校园文化研究会、中国校园文学艺术家协会、中国民办教育促进会、世界华语文学艺术界联合会、世界华语社团联合会、世界华语大学生联合会发起人，行业一站式综合体规划师、项目设计师、作家。原名田红伦，1975 年11 月 19 日出生于河南省滑县.2002 年毕业于安阳师范学院，2000 年至 2012 年创办扬帆文化艺术学校。2014 年 12 月创办河南慧涓文化传播有限公司，校园之星原创文艺作品争霸赛总负责人。</p>
                </div>
                <div class="dsd-l-img">
                    <p><img src="images/emp-23.png" alt=" "></p>
                    <h3>美丽中国&nbsp;&nbsp;<span>文清/ 著</span></h3>
                </div>
                <div class="dsd-l-cen">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5000 年的文化长廊，一望无际的田野，奔腾不息的江河……孕育着这个美丽的童话世界——中国。在每一个人的眼里——她充满了勃勃的生机，散发着迷人的芳香，焕发着青春的活力。从松花江岸到南海之滨，从台湾海峡到珠穆朗玛，从新疆盆地到东方明珠……没有一处不是令人留恋忘返？没有一片不是让人充满了向往与神奇？呵！差一点忘了东京开封的《清明上河图》、包公嗣和岳飞庙；还有洛阳的牡丹、北京的故宫和万里长城，再加上道口的烧鸡与登封的少林寺……眼帘之中——山河之美、民族之魂，岂不让人肃然起敬？<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“上有天堂，下有苏杭。”仅江南风情，就传颂千古。“江南好，风景旧曾谙。日出江花红胜火，春来江水绿如蓝。能不忆江南？”古人尚且如此，更何况热衷于旅游和休闲的当代地球村呢？说起旅游，九州美景近在眼前。从传说中的花果山水帘洞到香火缭绕的云梦山，从五岳风情到八大古都，从江河湖畔到民间特产……真让人恨不得来个第二次“万里长征”，做一回中国历史上第二个徐霞客。只不过现在的代步工具可多了——且不说飞机、轮船和火车，就单单自行车、电动车、观光车也别有一番风味！尤其是在春天——清风习习、香气弥漫、百花斗艳，再来上一份地方小吃、小酌两口，那滋味简直是人间仙境一般。倘若论起小吃，华北可称得上是一绝。尤其是河南，糖糕、麻花、油炸红薯丸子、白糖拌西红柿、样式齐全的凉拼、烤红薯……让你一天也吃不过来一个遍，只要让你吃上一回准保你是回头客。倘若到了秋夏，水果也能让你一饱口福。西瓜、葡萄、甜瓜、苹果、柿子、梨、大枣、樱桃……一个个轮番上场，让你回味无穷、难舍难分。倘若谈起文化，中原腹地真可谓占去了半壁江山。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北宋之都开封、以刺绣和潘杨湖著称，东汉皇城洛阳以龙门石窟和白马寺驰名中外，殷商帝都安阳以甲骨文和红旗渠及内黄枣茶闻名乡里，绿城郑州以铁路交通和黄帝故里纵横天下。当然，西湖之美和汉唐文化正以燎原之势走向世界。明清四大古典和古代四大发明及宋词元曲，如今也在异国他乡开花结果、拥抱着世界。文化的璀璨，不仅体现在历史和名胜古迹之上。民歌和戏剧，也是我们一大隗宝。四大“天王”和四大“皇后”自不必说，仅豫剧就有四大流派。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中央电视台的“青年歌手大赛”与河南卫视的《梨园春》，更是远近闻名。笛子、二胡、古筝、唢呐、钢琴……也自然是家喻户晓。谈起诗情画意，书法自然不可少。自隋唐以来，我国字体就有 7 种之多。以楷书、行书、隶书、草书，用者居多。王羲之，便是其中一位。如今的中国，手机和电脑早已步入千家万户。私家车、私家飞机……也屡见不鲜。我们再也不用像古代那样飞鸽传书了，还有五百里加急。只要拇指轻轻一动，你的亲人或朋友即可知晓。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国之美，在于人心。勤劳、善良、机智、勇敢——是一个民族魂魄的象征。千百年来，无怨无悔。远者自然不必说，万里长城和红旗渠——不能不说是人间奇迹、巧夺天工。解放战争、抗日战争、五四爱国运动……一个个热血青年——摇旗呐喊、挥舞着双臂，谱写着一曲曲荡气回肠的战歌。这就是中国，不畏强权、扶弱济困、伸张正义、团结奋进、改革创新。用那勤劳的双手，创造着一个又一个的人间神话。神九飞天，圆了多少代人的太空梦想。复兴之路，漫长而令人神往。富强，乃举国之梦。与其我们翘首期
                    待，不如我们携手共进、谱写未来。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最令国人骄傲的是——我们即将拥有国产航母，探月之旅也走在路上。国家把居民的幸福指数纳入政绩考核之中，中国梦正在走向 14 亿人民的心，富民廉政建设如火如荼。百年浩劫——给中华民族留下的痛
                    和伤，我们无法抹去。擦干眼泪、挺起脊梁——我们毅然走向前方、风雨无阻。民族的复兴、国家的统一……
                    是我们每一个中华儿女多少年来的夙愿，是历史发展的必然。落后就意味着挨打，这是清末和民国时期给
                    我们留下的深刻教训。正如一首歌中所唱：“……有国才有家……”。建设富强、文明、民主的共和国，
                    需要我们一代又一代人的不懈努力。<br>
                </div>
                <div class="dsd-detail-toupiao">
                    <h3>123456 票</h3>
                    <a href="#">我要投票</a>
                </div>
                <section class="dsd-l-pinglun">
                    <header class="dsd-lpl-header"><a href="#">5条评论</a>网友评论</header>
                    <div class="dsd-lpl-form clear">
                        <p><textarea name=" " placeholder="说两句吧......"></textarea></p>
                        <p><input type="submit" value="发布评论"></p>
                    </div>
                </section>
                <section class="dsd-lpl-list">
                    <ul>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                <div class="dsd-lpl-liabout-reply">
                                    <ul>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                                <div class="dsd-lpl-form clear">
                                    <p><textarea name=" " placeholder="说两句吧......"></textarea></p>
                                    <p><input type="submit" value="回复"></p>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                <div class="dsd-lpl-liabout-reply">
                                    <ul>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                        <li>
                                            <h3>bb123456</h3>
                                            <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <a href="#" class="dsd-lpl-li-img"><img src="images/emp-11.png" alt=" "></a>
                            <div class="dsd-lpl-li-about">
                                <h3>bb123456</h3>
                                <p>最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~最后这个直接换了一个广告尺寸了，按报纸广告来说，就是半版跟整版的区别，价钱差远了！应该在原尺寸的基础上修改嘛~</p>

                                <div class="dsd-lpl-liabout-btn">
                                    <a href="#"><i class="iconfont">&#xe6d2;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="iconfont">&#xe737;</i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
            <section class="dsd-right">
                <section class="dsd-right-col">
                    <header class="dsd-rcol-header clear">
                        <p><img src="images/emp-11.png" alt=" "></p>
                        <h4>bb12345466</h4>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            <li><a href="#">河南慧娟文化传播有限公司</a></li>
                            <li><a href="#">全国各省市工作站与代理</a></li>
                            <li><a href="#">中国校园文化文推荐书</a></li>
                            <li><a href="#">校园之星原创文艺作品争霸赛</a></li>
                            <li><a href="#">教师与校园运营管理团队岗前培训</a></li>
                            <li><a href="#">寻找全国各地大学生校园代理</a></li>
                            <li><a href="#">世界华语校园社团联合会</a></li>
                        </ul>
                    </div>
                </section>
                <section class="dsd-right-col">
                    <header class="dsd-rcol-header">
                        <h3>今日好文</h3>
                    </header>
                    <div class="dsd-rcol-list">
                        <ul>
                            <li><a href="#">河南慧娟文化传播有限公司</a></li>
                            <li><a href="#">全国各省市工作站与代理</a></li>
                            <li><a href="#">中国校园文化文推荐书</a></li>
                            <li><a href="#">校园之星原创文艺作品争霸赛</a></li>
                            <li><a href="#">教师与校园运营管理团队岗前培训</a></li>
                            <li><a href="#">寻找全国各地大学生校园代理</a></li>
                            <li><a href="#">世界华语校园社团联合会</a></li>
                            <li><a href="#">河南慧娟文化传播有限公司</a></li>
                            <li><a href="#">全国各省市工作站与代理</a></li>
                            <li><a href="#">中国校园文化文推荐书</a></li>
                            <li><a href="#">校园之星原创文艺作品争霸赛</a></li>
                            <li><a href="#">教师与校园运营管理团队岗前培训</a></li>
                            <li><a href="#">寻找全国各地大学生校园代理</a></li>
                            <li><a href="#">世界华语校园社团联合会</a></li>
                        </ul>
                    </div>
                </section>
            </section>
        </section>
        <section class="cyfh-blank"></section>
        <!--<section class="cols2">
            <h3 class="bmfw"><p>便民服务</p></h3>
            <div class="cols2-txtlist">
                <ul>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛，在国内设8大赛区和南北美洲国际赛区与亚欧非洋国际赛区。决赛即将开始，欢迎有实力的企业独家冠名。15938726942</p><h3>寻人启事</h3></a></li>
                    <li><a href="#"><p>河南慧涓文化传播有限公司，因业务发展需要诚聘各省市大学校园代理。要求大一或大三、研究生均可，只要业余时间比较多；主要负责赛事招商、组织参赛 </p><h3>公益公约</h3></a></li>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛总决赛与颁奖文艺晚会，将于6月底至7月中旬拉开帷幕，敬请关注、欢迎参加！服务电话：0371-65339250</p><h3>赛事宣传</h3></a></li>
                    <li><a href="#"><p>校园之星文艺杂志，将于首届全国校园之星文艺作品争霸赛决赛与颁奖文艺晚会后开始编辑并面向各赛区获奖选手与工作人员发行。敬请大家关注</p><h3>媒体社团</h3></a></li>
                    <li><a href="#"><p>因赛事和中国校园文化网第二版上线需要，特向全国各地诚招城市合伙人。不需要你出技术和平台，只要有办公场地和员工即可。欢迎大家踊跃报名合作</p><h3>紧急求助</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="cfzx"><p>财富之星</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>专家评委</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>参赛单位</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>-->
        <section class="links">
            <h3><p>友情链接</p></h3>
            <div class="link-list"><a href="#">中国科技信息网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国视频文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国青年作家协会</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国五星文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">清华大学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民文学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a></div>
        </section>
    </section>
    <footer class="footer c-con">
        <div class="footer-nav">
            <a href="#">企业简介</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">管理团队</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">主营项目</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">产业布局</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诚聘英才</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">客户留言</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">联系我们 </a>
        </div>
        <div class="copyright">
            Copyright ©1996-2018 hj Corporation All Right Reserved<br>
            版权所有&nbsp;&nbsp;河南慧涓文化传播有限公司&nbsp;&nbsp;中国互联网举报中心 <br>

            总部服务电话：0371-65339250　15938726942<br>
            豫ICP备18021547号<br>
        </div>
    </footer>
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
    var swiper8 = new Swiper('.swiper8', {
        pagination: '.swiper-pagination8',
        paginationClickable: true,
        spaceBetween:0,
		autoplay: 3500,
		loop:true
    });
    </script>
</body>
</html>