
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国校园文化网</title>
    @*<link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" href="css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/dasai.css">
        <script src="js/jquery-1.11.1.min.js"></script>*@
    @Styles.Render("~/Content/dasai")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/homepage")
</head>
<body style="background-image:url(images/body2.png)">
    <header class="header c-con">
        <div class="hd-con">
            <a href="#" class="logo-saishi"><img src="/images/logo-saishi.png" alt=" "></a>
            <div class="city">
                城市切换【<a href="javascript:;">郑州</a>】
            </div>
            <div class="search-saishi clear">
                <p>搜&nbsp;&nbsp;索</p>
                <p><input type="text" placeholder="大家正在搜：东北虎胖成气球"></p>
                <p><input type="submit" value="&#xe66c;"></p>
            </div>
            <div class="sitedate" id="sitedate"><span id="date">
            <script type="text/javascript" src="js/date.js"></script></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">会员登录</a>&nbsp;&nbsp;&nbsp;&nbsp;（<a href="#">注册</a>）</div>
        </div>
    </header>
    <nav class="nav">
        <div class="nav-list c-con clear">
            <ul>
                <li><a href="./index.html">首&nbsp;&nbsp;页</a></li>
                <li><a href="#">会员登录</a></li>
                <li><a href="#">赛事简介</a></li>
                <li><a href="#">选手报名</a></li>
                <li><a href="#">赛区分布</a></li>
                <li><a href="#">学术交流</a></li>
                <li><a href="#">历届大赛</a></li>
                <li><a href="#">赛事管理</a></li>
                <li><a href="#">专家评审</a></li>
                <li><a href="#">支持媒体</a></li>
                <li><a href="#">冠名单位</a></li>
            </ul>
        </div>
    </nav>
    <section class="main c-con clear" style="padding-top:0;">
        <div class="swiper-container swiper8">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
                <div class="swiper-slide"><img src="/images/emp-14.png"></div>
            </div>
            <div class="swiper-pagination swiper-pagination8"></div>
        </div>
        <section class="dasai-location c-con clear" style="padding-top:20px;">
            <h3><a href="#">中国校园文化网</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">活动大赛</a>&nbsp;&nbsp;>&nbsp;&nbsp;文学教程&nbsp;&nbsp;</h3><h4 class="clear"><p class="on">书画手工</p><p>艺术表演</p><p>龙虎榜</p></h4>
        </section>
        <aside class="cyfh-menu clear">
            <div class="submenu-item clear">
                <ul>
                    <li class="li_1 on"><a href="#">沙画</a></li>
                    <li class="li_1 on"><a href="#">手工</a></li>
                    <li class="li_1 on"><a href="#">制作</a></li>
                    <li class="li_1 on"><a href="#">素描</a></li>
                    <li class="li_1 on"><a href="#">水粉</a></li>
                    <li class="li_1 on"><a href="#">油画</a></li>
                    <li class="li_1 on"><a href="#">国画</a></li>
                    <li class="li_1 on"><a href="#">雕刻</a></li>
                    <li class="li_1 on"><a href="#">摄影</a></li>
                    <li class="li_1 on"><a href="#">书法</a></li>
                    <li class="li_1 on"><a href="#">剪纸</a></li>
                    <li class="li_1 on"><a href="#">拼装</a></li>
                    <li class="li_2"><a href="#">朗诵</a></li>
                    <li class="li_2"><a href="#">主持</a></li>
                    <li class="li_2"><a href="#">歌曲</a></li>
                    <li class="li_2"><a href="#">戏曲</a></li>
                    <li class="li_2"><a href="#">舞蹈</a></li>
                    <li class="li_2"><a href="#">模特</a></li>
                    <li class="li_2"><a href="#">跆拳道</a></li>
                    <li class="li_2"><a href="#">演奏</a></li>
                    <li class="li_2"><a href="#">小品</a></li>
                    <li class="li_2"><a href="#">配音</a></li>
                    <li class="li_2"><a href="#">快板</a></li>
                    <li class="li_2"><a href="#">评书</a></li>
                    <li class="li_2"><a href="#">模仿秀</a></li>
                    <li class="li_2"><a href="#">绝技</a></li>
                    <li class="li_3"><a href="#">十佳教育品牌</a></li>
                    <li class="li_3"><a href="#">我最喜爱的歌手</a></li>
                    <li class="li_3"><a href="#">我最喜爱的主持人</a></li>
                    <li class="li_3"><a href="#">我最喜爱的演员</a></li>
                    <li class="li_3"><a href="#">我最喜爱的讲师</a></li>
                    <li class="li_3"><a href="#">我最喜爱的作家</a></li>

                </ul>
            </div>
        </aside>
        <section class="dasai-list clear">
            <ul>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
                <li>
                    <a href="#" class="dsl-img"><img src="images/emp-22.png" alt=" "></a>
                    <h3><a href="#">大众汽车拥有悠久的历史</a></h3>
                    <p>大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程.大众汽车拥有悠久的历史。1937年成立以来，大众见证了20世纪汽车工业的发展历程...</p>
                    <h4><span>123456票</span><a href="#">我要投票</a></h4>
                </li>
            </ul>
        </section>
        <div class="pages clear">
            <ul>
                <li><a href="#"><i class="iconfont">&#xe613;</i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#"><i class="iconfont">&#xe647;</i></a></li>
                <li>共70页，到第</li>
                <li><input type="text" name=" "></li>
                <li>页</li>
                <li><input type="submit" value="转到"></li>
            </ul>
        </div>
        <section class="cyfh-blank"></section>
        <!--<section class="cols2">
            <h3 class="bmfw"><p>便民服务</p></h3>
            <div class="cols2-txtlist">
                <ul>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛，在国内设8大赛区和南北美洲国际赛区与亚欧非洋国际赛区。决赛即将开始，欢迎有实力的企业独家冠名。15938726942</p><h3>寻人启事</h3></a></li>
                    <li><a href="#"><p>河南慧涓文化传播有限公司，因业务发展需要诚聘各省市大学校园代理。要求大一或大三、研究生均可，只要业余时间比较多；主要负责赛事招商、组织参赛 </p><h3>公益公约</h3></a></li>
                    <li><a href="#"><p>全国校园之星原创文艺作品争霸赛总决赛与颁奖文艺晚会，将于6月底至7月中旬拉开帷幕，敬请关注、欢迎参加！服务电话：0371-65339250</p><h3>赛事宣传</h3></a></li>
                    <li><a href="#"><p>校园之星文艺杂志，将于首届全国校园之星文艺作品争霸赛决赛与颁奖文艺晚会后开始编辑并面向各赛区获奖选手与工作人员发行。敬请大家关注</p><h3>媒体社团</h3></a></li>
                    <li><a href="#"><p>因赛事和中国校园文化网第二版上线需要，特向全国各地诚招城市合伙人。不需要你出技术和平台，只要有办公场地和员工即可。欢迎大家踊跃报名合作</p><h3>紧急求助</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="cfzx"><p>财富之星</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="bmfw"><p>专家评委</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>
        <section class="cols2">
            <h3 class="sjgly"><p>参赛单位</p></h3>
            <div class="cols2-imglist clear">
                <ul>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-07.png" alt=" "></p><h3>李艳霞</h3></a></li>
                    <li><a href="#"><p><img src="images/emp-06.png" alt=" "></p><h3>殷桃</h3></a></li>
                </ul>
            </div>
        </section>-->
        <section class="links">
            <h3><p>友情链接</p></h3>
            <div class="link-list"><a href="#">中国科技信息网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国视频文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国青年作家协会</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国五星文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">清华大学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民文学出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">人民网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新华网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">央视网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诗词在线</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">哈尔滨转介率科技发展有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">圣才学习网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">新浪网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">一起写网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">陕西家教网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文联出版社</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">江山文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">中国文学网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">百度</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">365</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">行业搜索网</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">腾讯</a></div>
        </section>
    </section>
    <footer class="footer c-con">
        <div class="footer-nav">
            <a href="#">企业简介</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">管理团队</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">主营项目</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">产业布局</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">诚聘英才</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">客户留言</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">联系我们 </a>
        </div>
        <div class="copyright">
            Copyright ©1996-2018 hj Corporation All Right Reserved<br>
            版权所有&nbsp;&nbsp;河南慧涓文化传播有限公司&nbsp;&nbsp;中国互联网举报中心 <br>

            总部服务电话：0371-65339250　15938726942<br>
            豫ICP备18021547号<br>
        </div>
    </footer>
    <script src="js/swiper.min.js"></script>
    <script src="js/fun.js"></script>
    <script>
    var swiper8 = new Swiper('.swiper8', {
        pagination: '.swiper-pagination8',
        paginationClickable: true,
        spaceBetween:0,
		autoplay: 3500,
		loop:true
    });
    </script>
</body>
</html>