
@{
    Layout = null;
}

<header class="header c-con">
    <div class="hd-con">
        <a href="/event" class="logo-saishi"><img src="/images/logo-saishi.png" alt=" "></a>
        <div class="city">
            城市切换【<a href="javascript:;">郑州</a>】
        </div>
        <div class="search-saishi clear">
            <p>搜&nbsp;&nbsp;索</p>
            <p><input type="text" placeholder="大家正在搜：东北虎胖成气球"></p>
            <p><input type="submit" value="&#xe66c;"></p>
        </div>
        <div class="sitedate" id="sitedate"><span id="date">
        <script type="text/javascript" src="js/date.js"></script></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">会员登录</a>&nbsp;&nbsp;&nbsp;&nbsp;（<a href="#">注册</a>）</div>
    </div>
</header>