
@{
    Layout = null;
}
<style>

    .footer {
        height: auto;
        margin: 0 auto;
        background-color: #FFF;
        padding-top: 1%;
    }

        .footer > .footer-nav {
            height: 36px;
            line-height: 36px;
            background-color: #f7f7f7;
            text-align: center;
            color: #333;
        }

        .footer > .copyright {
            width: 100%;
            line-height: 24px;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 2%;
        }

    .links {
        width: 1200px;
        height: auto;
        box-sizing: border-box;
        border: 1px solid #949494;
        float: left;
        margin-top: 20px;
        background-color: #d66a10;
    }

        .links > h3 {
            width: 50px;
            height: 90px;
            float: left;
            box-sizing: border-box;
            color: #FFF;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

            .links > h3 > p {
                width: 20px;
                height: auto;
                line-height: 16px;
                text-align: center;
                font-weight: bold;
                font-family: "黑体";
                font-size: 16px
            }

        .links > .link-list {
            width: 1148px;
            background-color: #FFF;
            float: right;
            height: auto;
            min-height: 90px;
            line-height: 30px;
            float: right;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
        }

            .links > .link-list > a {
                font-size: 12px;
                color: #738099
            }
</style>
<footer class="footer c-con">

    @{Html.RenderAction("FooterGuanyuwomen", "Partinal");}
    <div class="copyright">
        Copyright ©2015-2030 HJ Corporation All Right Reserved<br>
        版权所有&nbsp;&nbsp;河南慧涓文化传播有限公司&nbsp;&nbsp;中国互联网举报中心 <br>

        总部服务电话：0371-65339250　15938726942<br>
        豫ICP备18021547号<br>
    </div>
</footer>
<script language="Javascript">document.oncontextmenu = new Function("event.returnValue=false"); document.onselectstart = new Function("event.returnValue=false");</script>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=350fc5fe-a4cf-4c6f-afe0-29334c5420b2&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#F60&amp;text=分享到"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1274489845'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274489845%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
