
@{
    Layout = null;
}

<footer class="footer c-con">

    @{Html.RenderAction("FooterGuanyuwomen", "Partinal");}
    <div class="copyright">
        Copyright ©1996-2018 hj Corporation All Right Reserved<br>
        版权所有&nbsp;&nbsp;河南慧涓文化传播有限公司&nbsp;&nbsp;中国互联网举报中心 <br>

        总部服务电话：0371-65339250　15938726942<br>
        豫ICP备18021547号<br>
    </div>
</footer>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274489845'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274489845%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
