
@{
    Layout = null;

}
@using ChineseCulture.Model;

@model  IEnumerable<Article>
<div class="link-list">
    @foreach (var item in Model)
    {
    <a target="_blank" href="@item.article_click_url">&nbsp;@item.article_title </a>

    }
   
</div>

