@{ Layout = null;}

@using ChineseCulture.Model;

@model  IEnumerable<SiteMenuViewModel>

    <section class="types c-con clear">
        <ul>

            @foreach (var item in Model)
            {
            <li>
                <h3>@item.menu_name</h3>
                @foreach (var chItem in item.siteMenuList)
                {
                    <p><a href="@chItem.click_url">@chItem.menu_name</a></p>
                }
            </li>
            }
           
        </ul>
    </section>
