
@{
    Layout = null;
}
@using ChineseCulture.Model;
@using Webdiyer.WebControls.Mvc;

@model ArticlePageViewModel
<section class="user-sendlist">
    @Html.Partial("_UserIndexArticlePartial", Model)
    

</section>